Table of BEVS
<button mat-button (click)="addVehicle()" mat-flat-button color="primary">Add New Vehicle</button>
<div class="error" *ngIf="error">{{error}}</div>

<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th></th>
    <th></th>
    <th></th>

    <th mat-sort-header="ModelYear">Model Year</th>
    <th mat-sort-header="Manufacturer">Manufacturer</th>
    <th mat-sort-header="Model">Model</th>
    <th mat-sort-header="Available">Available</th>
    <th mat-sort-header="BodyStyle">Body Style</th>
    <th mat-sort-header="Price">Price</th>
    <th mat-sort-header="FederalTaxCredit">Federal Tax Credit</th>
    <th mat-sort-header="Drive">Drivetrain</th>
    <th mat-sort-header="CombinedRange">Combined Range</th>
    <th mat-sort-header="CityRange">City Range</th>
    <th mat-sort-header="HiwayRange">Hiway Range</th>
    <th mat-sort-header="MotorPowerKw">MotorPower (Kw)/(hp)</th>
    <th mat-sort-header="Torque">Torque</th>
    <th mat-sort-header="BatteryCapacity">Battery Capacity</th>
    <th mat-sort-header="ChargingConnector">Charging Connector</th>
    <th mat-sort-header="Weight">Weight</th>
    <th mat-sort-header="ZeroTo60mph">Zero To 60 mph</th>
    <th mat-sort-header="ZeroTo100kph">Zero To 100 kph</th>
    <th mat-sort-header="MaxChargePower">Max Charge Power</th>
    <th mat-sort-header="MinutesTo80PercentCharge">Minutes To 80 Percent Charge</th>
    <th mat-sort-header="SafetyRating">Safety Rating</th>
    <th>Notes</th>
  </tr>

  <tr *ngFor="let bev of sortedData">
    <td> <mat-icon fxFlex="10%" (click)="edit(bev)">mode_edit</mat-icon></td>
    <td> <mat-icon fxFlex="10%" (click)="deleteVehicle(bev, $event)"> delete</mat-icon></td>
    <td><img width="50" height="50" src="{{getLogo(bev.manufacturer)}}" /> </td>
    <td>{{bev.modelYear}}</td>
    <td>{{bev.manufacturer}}</td>
    <td>{{bev.model}}</td>
    <td>{{bev.available}}</td>
    <td>{{bev.bodyStyle}}</td>
    <td>{{bev.price|currency}}</td>
    <td>{{bev.federalTaxCredit|currency}}</td>
    <td>{{bev.driveTrain}}</td>
    <td>{{bev.combinedRange}}</td>

    <td>{{bev.cityRange}}</td>
    <td>{{bev.hiwayRange}}</td>

    <td ng-if="bev.motorPowerKw; else elseBlock">{{bev.motorPowerKw}}/{{bev.motorPowerKw*1.341 | number:'1.0-0'}}</td>
    <ng-template #elseBlock><td></td></ng-template>

    <td>{{bev.torque}}</td>
    <td>{{bev.batteryCapacity}}</td>
    <td>{{bev.chargingConnector}}</td>
    <td>{{bev.weight}}</td>
    <td>{{bev.zeroTo60mph}}</td>
    <td>{{bev.zeroTo100kph}}</td>

    <td>{{bev.maxChargePower}}</td>
    <td>{{bev.minutesTo80PercentCharge}}</td>
    <td>{{bev.safetyRating}}</td>
    <td>{{bev.notes}}</td>

  </tr>
</table>

