Table of Contacts

<table>
  <tr>
    <td><button mat-button (click)="addSubdivision()" mat-flat-button color="primary">Add Subdivision</button></td>
    <td><button mat-button (click)="addContact()" mat-flat-button color="primary">Add New Contact</button></td>
    <td>
      <mat-select style="width:120px" placeholder="Select status" (selectionChange)="filterByStatus($event)"  [(ngModel)]="selectedStatus">

        <mat-option value="Uncontacted">
          Uncontacted
        </mat-option>
        <mat-option value="Contacted">
          Contacted
        </mat-option>
        <mat-option value="Member">
          Member
        </mat-option>

        <mat-option value="Administrator">
          Administrator
        </mat-option>


      </mat-select>

    </td>
  </tr>

</table>
 
 

<div class="error" *ngIf="error">{{error}}</div>

<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th></th>
    <th></th>


    <th mat-sort-header="DateUpdated">Date Updated</th>
    <th mat-sort-header="Status">Status</th>
    <th mat-sort-header="StreetNumber">Street Number</th>
    <th mat-sort-header="Street">Street</th>

    <th mat-sort-header="FirstName">First Name</th>
    <th mat-sort-header="LastName">Last Name</th>

    <th mat-sort-header="Email">Email</th>
    <th mat-sort-header="Phone">Phone</th>

    <th>Notes</th>
  </tr>

  <tr *ngFor="let contact of sortedData">
    <td> <mat-icon fxFlex="10%" (click)="edit(contact)">mode_edit</mat-icon></td>
    <td> <mat-icon fxFlex="10%" (click)="deleteContact(contact, $event)"> delete</mat-icon></td>

    <td>{{contact.dateUpdated|date:shortDate}}</td>
    <td>{{contact.status}}</td>
    <td>{{contact.streetNumber}}</td>
    <td>{{contact.street}}</td>
    <td>{{contact.firstName}}</td>
    <td>{{contact.lastName}}</td>
    <td>{{contact.email}}</td>
    <td>{{contact.phone}}</td>


    <td>{{contact.notes}}</td>

  </tr>
</table>

