@page "/donate"

    <h1 class="Heading">Donate to Charge and Change Nonprofit </h1>

    <p>
        Charge and Change Nonprofit is a 501(c)(3) nonprofit organization that works to advocate for the adoption of clean and renewable energy. You can support Charge and Change with your tax-deductible contribution of $25, $50, $100, or more.

    </p>

    <p>
        <strong>Click the button below:</strong>

    </p>

    <form #form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="FPGG4J5HJLJAE" />
        <input type="image" (click)="form.submit()" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>

    <p>
        <em>
            Donations to Charge and Change Nonprofit are processed through PayPal.
            <br />
        </em>
        <em>You do not need a PayPal account to make a donation.</em>

    </p>

