@page "/"

<h1>Welcome to Charge and Change Nonprofit</h1>


<br />

<h1 class="Heading">Benefits of Battery Electric Vehicles </h1>

<MatList TwoLine="true">
    <MatListItem>
        <MatListItemText>
            <MatListItemPrimaryText>Cheaper to Drive</MatListItemPrimaryText>
            <MatListItemSecondaryText>Electrons are about five times cheaper than gasoline!</MatListItemSecondaryText>
        </MatListItemText>
    </MatListItem>
    <MatListItem>
        <MatListItemText>
            <MatListItemPrimaryText>More Fun</MatListItemPrimaryText>
            <MatListItemSecondaryText>Instant torque provides unbeatable acceleration!</MatListItemSecondaryText>
        </MatListItemText>
    </MatListItem>
    <MatListItem>
        <MatListItemText>
            <MatListItemPrimaryText>More Convenient</MatListItemPrimaryText>
            <MatListItemSecondaryText>Plug your car in at home instead of driving to a gas station and pumping gas!</MatListItemSecondaryText>
        </MatListItemText>

    </MatListItem>
    <MatListItem>
        <MatListItemText>
            <MatListItemPrimaryText>Cleaner</MatListItemPrimaryText>
            <MatListItemSecondaryText>No tailpipe emissions and much less brake dust!</MatListItemSecondaryText>
        </MatListItemText>
    </MatListItem>
    <MatListItem>
        <MatListItemText>
            <MatListItemPrimaryText>Quieter</MatListItemPrimaryText>
            <MatListItemSecondaryText>Internal Combustion cars are typically twice as loud as an electric!</MatListItemSecondaryText>
        </MatListItemText>
    </MatListItem>
    <MatListItem>
        <MatListItemText>
            <MatListItemPrimaryText>More Perks</MatListItemPrimaryText>
            <MatListItemSecondaryText>Tax Credits, free charging, prime parking locations!</MatListItemSecondaryText>
        </MatListItemText>

    </MatListItem>
    <MatListItem>
        <MatListItemText>
            <MatListItemPrimaryText>Easier</MatListItemPrimaryText>
            <MatListItemSecondaryText>Electric cars typically have a lower center of gravity and more evenly distributed weight which makes winter driving easier.</MatListItemSecondaryText>
        </MatListItemText>

    </MatListItem>
    <MatListItem>
        <MatListItemText>
            <MatListItemPrimaryText>Safer</MatListItemPrimaryText>         
            <MatListItemSecondaryText>Electric cars have larger crumple zones which reduces injuries from impacts and they don't catch fire as often as ICE cars.</MatListItemSecondaryText>
        </MatListItemText>

    </MatListItem>
</MatList>

