
<h2 mat-dialog-title>{{bev.ModelYear}}</h2>


<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput
           #modelYear
           maxlength="4"
           placeholder="Model Year"
           formControlName="modelYear">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           #manufacturer
           placeholder="Manufacturer"
           formControlName="manufacturer">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           #model
           placeholder="Model"
           formControlName="model">
  </mat-form-field>

  <mat-form-field>

    <mat-select placeholder="Select body style"
                formControlName="bodyStyle">

      <mat-option value="SUV">
        SUV
      </mat-option>
      <mat-option value="Sedan">
        Sedan
      </mat-option>
      <mat-option value="Crossover">
        Crossover
      </mat-option>
      <mat-option value="Van">
        Van
      </mat-option>
      <mat-option value="PickupTruck">
        PickupTruck
      </mat-option>

    </mat-select>

  </mat-form-field>

  <mat-form-field>
    <input matInput
           #price
           placeholder="Price"
           formControlName="price">
  </mat-form-field>

  <!--

      <mat-form-field>

    <input matInput [matDatepicker]="myDatepicker"
           formControlName="releasedAt">

    <mat-datepicker-toggle matSuffix
                           [for]="myDatepicker">

    </mat-datepicker-toggle>

    <mat-datepicker #myDatepicker></mat-datepicker>

  </mat-form-field>

  <mat-form-field>

    <textarea matInput placeholder="Description"
              formControlName="longDescription">

        </textarea>

  </mat-form-field>
      -->



</mat-dialog-content>

<mat-dialog-actions>

  <button class="mat-raised-button"
          (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary"
          [disabled]="!form.valid"
          (click)="save()">
    Save
  </button>

</mat-dialog-actions>

