<p></p>
<br/>
<br />

<h1 class="Heading">Myths of Battery Electric Vehicles (BEV) </h1>

<mat-list>
  <mat-list-item>
    <h4 mat-line class="Heading">BEVs are too expensive</h4>

    
    <p mat-line>Although the initial cost of a BEV is higher, the total cost of ownership is lower over 5-10 years. The purchase price gap between an BEV and ICE has been dropping steadily and is expected to reach parity by the end of 2020 for some models.</p>
   
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">There are not enough public charging stations</h4>
    <p mat-line> Most charging is done at home or work, however long road trips require planning. Some BEVs have an integrated trip planners and you can use a smartphone app for the others. As of April 2019 there were 21,324 charging locations and 62,153 charging connections in the US which provide access to most destinations. </p>
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">BEVs are slow as golf carts</h4>
    <p mat-line> The record up the Pike's Peak Hill Climb is held by the Volkswagen I.D. R electric car.  With a time of 7:57 it crushed the nearest ICE time of 9:23.  </p>
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">BEVs don't have enough range</h4>
    <p mat-line>The average range of the top 5 selling BEVs is 298 miles as of Q2 2019.</p>
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">BEVs are only good for short trips </h4>
    <p mat-line>A trip from Fort Collins to Council Bluffs,IA would require 3 stops in a long range model 3 Tesla. The fist stop at Ogallala, NE is 191 miles away. It would take about 3 hour 7 min to get there and you would charge for 15 minutes. The second stop at Gothenberg, NE is another 87 miles of driving (about 1h 16min) and 25 min of charging. The last stop at Grand Island is 110 miles (1h 41 min) would require 45 min of charging. 8 hours driving 1 1/2 hours charging. </p>
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">BEVs take too long to charge </h4>
    <p mat-line></p>
  </mat-list-item>



  <mat-list-item>
    <h4 mat-line class="Heading">BEVs can catch on fire</h4>
    <p mat-line> </p>
  </mat-list-item>


  <mat-list-item>
    <h4 mat-line class="Heading">BEVs aren't any greener than Internal Combustion Engine cars</h4>
    <p mat-line> </p>
  </mat-list-item>


  <mat-list-item>
    <h4 mat-line class="Heading">Electric cars are costly to maintain</h4>
    <p mat-line>The lifetime maintenance and repair cost for an EV is about 75% that of an internal-combustion vehicle</p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">EV batteries don't last long </h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">There is not enough lithium to make the needed batteries </h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">Lithium mining is terrible for the environment </h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">Used EV batteries will pose a recycling problem </h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">We will just trade off oil shortages for lithium shortages </h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">EV batteries are dangerous and can explode </h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">The power grid won't be able to handle the additional load</h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">More EVs will just lead to more coal power plants</h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading"> There is not much choice</h4>
    <p mat-line></p>

  </mat-list-item>
  <mat-list-item>
    <h4 mat-line class="Heading">You can't take an EV though a car wash</h4>
    <p mat-line></p>

  </mat-list-item>


</mat-list>
