<p></p>
<br/>
<br />

<h1 class="Heading">Myths of Battery Electric Vehicles </h1>

<mat-list>
  <mat-list-item>
    <h4 mat-line class="Heading">BEVs are too expensive</h4>

    <p mat-line></p>
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">There are not enough public charging stations</h4>
    <p mat-line></p>
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">BEVs are slow as golf carts</h4>
    <p mat-line> </p>
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">BEVs don't have enough range</h4>
    <p mat-line></p>
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">BEVs are only good for short trips </h4>
    <p mat-line></p>
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">BEVs take too long to charge </h4>
    <p mat-line></p>
  </mat-list-item>



  <mat-list-item>
    <h4 mat-line class="Heading">BEVs can catch on fire</h4>
    <p mat-line> </p>
  </mat-list-item>


  <mat-list-item>
    <h4 mat-line class="Heading">BEVs aren't any greener than Internal Combustion Engine cars</h4>
    <p mat-line> </p>
  </mat-list-item>


  <mat-list-item>
    <h4 mat-line class="Heading">Electric cars are costly to maintain</h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">EV batteries don't last long </h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">There is not enough lithium to make the needed batteries </h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">Lithium mining is terrible for the environment </h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">Used EV batteries will pose a recycling problem </h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">We will just trade off oil shortages for lithium shortages </h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">EV batteries are dangerous and can explode </h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">The power grid won't be able to handle the additional load</h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">More EVs will just lead to more coal power plants</h4>
    <p mat-line></p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading"> There is not much choice</h4>
    <p mat-line></p>

  </mat-list-item>
  <mat-list-item>
    <h4 mat-line class="Heading">You can't take an EV though a car wash</h4>
    <p mat-line></p>

  </mat-list-item>


</mat-list>
