<p></p>
<br/>
<br />

<h1 class="Heading">Myths of Battery Electric Vehicles (BEV) </h1>

<mat-list>
  <mat-list-item>
    <h4 mat-line class="Heading">BEVs are too expensive</h4>

    
    <p mat-line>Although the initial cost of a BEV is higher, the total cost of ownership is lower over 5-10 years. The purchase price gap between an BEV and ICE has been dropping steadily and is expected to reach parity by the end of 2020 for some models.</p>
   
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">There are not enough public charging stations</h4>
    <p mat-line> Most charging is done at home or work, however long road trips require planning. Some BEVs have an integrated trip planners and you can use a smartphone app for the others. As of April 2019 there were 21,324 charging locations and 62,153 charging connections in the US which provide access to most destinations. </p>
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">BEVs are slow as golf carts</h4>
    <p mat-line> Electric cars have instant torque off the line resulting in unmatched acceleration. For instance, the Tesla Model S is quicker than the $3M Bugatti Chiron hypercar from 0-60mph. The record up the Pike's Peak Hill Climb is held by the Volkswagen I.D. R electric car.  With a time of 7:57 it crushed the nearest ICE time of 9:23.  </p>
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">BEVs don't have enough range</h4>
    <p mat-line>The average range of the top 5 selling BEVs is 298 miles as of Q2 2019.</p>
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">BEVs are only good for short trips </h4>
    <p mat-line>A trip from Fort Collins to Council Bluffs,IA would require 3 stops in a long range model 3 Tesla. The fist stop at Ogallala, NE is 191 miles away. It would take about 3 hour 7 min to get there and you would charge for 15 minutes. The second stop at Gothenberg, NE is another 87 miles of driving &#40;about 1h 16min&#41; and 25 min of charging. The last stop at Grand Island is 110 miles &#40;1h 41 min&#41; would require 45 min of charging. 8 hours driving 1 1/2 hours charging. </p>
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">BEVs take too long to charge </h4>
    <p mat-line>Most charging is done overnight in your garage where the charge time is not an issue. EV owners find it much more convienient than stopping at a gas station. For the occasional road trip, there is a growing network of DC fast chargers that can supply an 80% charge in about 30 minutes.</p>
  </mat-list-item>



  <mat-list-item>
    <h4 mat-line class="Heading">BEVs can catch on fire</h4>
    <p mat-line>Lithium batteries can be physically damaged or develop defects which cause short circuits, overheating, and eventually fire. According to Tesla, they occur 5 times per billion miles driven. To noone's suprise, gasoline is very flamable and as a result internal combustion vehicles catch fire about 55 times per billion miles. Statistically an ICE car about 11 times more likely to catch fire than a BEV.   </p>
  </mat-list-item>


  <mat-list-item>
    <h4 mat-line class="Heading">BEVs aren't any greener than Internal Combustion Engine cars</h4>
    <p mat-line> BEVs are much more efficient than ICE cars and turn 80% of the battery's energy into forward motion, on the other hand, ICE cars only turn about 20% of the energy from gas into forward motion. The end result is that BEVs are cleaner even if the electricity is generated by coal. Furthermore, with the decrease in the cost of battery backed grid storage, solar panels, and wind turbines the grid is becoming cleaner at an accelerated rate and increasing the gap between BEV and ICE.  </p>
  </mat-list-item>


  <mat-list-item>
    <h4 mat-line class="Heading">Electric cars are costly to maintain</h4>
    <p mat-line>The lifetime maintenance and repair cost for an EV is about 75% that of an internal-combustion vehicle</p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">EV batteries don't last long </h4>
    <p mat-line>Most EV batteries have warranties lasting 8 years or 100,00 miles. Tesla is developing batteries that will last 20 years or 1,000,000 miles. </p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">There is not enough lithium to make the needed batteries </h4>
    <p mat-line>The world has an estimated 15 million tonnes of lithium reserves. It is found in minerals and brine and can easily be recycled. We are currently working on techniques to make lithium extraction from seawater practical. </p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">Lithium mining is terrible for the environment </h4>
    <p mat-line>Curently, most lithium is extracted from brine by using large evaporation ponds with several sucessive stages.  Once the concrentration of lithium is high enough, lithium is chemically precipitated out of the brine solution. Water scarcity is the biggest issue with this process and it can be managed.</p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">Used EV batteries will pose a recycling problem </h4>
    <p mat-line>EV Batteries will be used in grid storage once their capacity has dropped below 70% and from there they will be cost effectively recycled into their component metals.</p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">We will just trade off oil shortages for lithium shortages </h4>
    <p mat-line>Long before we use the world's lithium reserves, we will be able to cost effectively extract lithium from sea water and recycle batteries.</p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">EV batteries are dangerous and can explode </h4>
    <p mat-line>
      An <a href="https://www.nhtsa.gov/sites/nhtsa.dot.gov/files/documents/12848-lithiumionsafetyhybrids_101217-v3-tag.pdf">October 2017 NHTSA Study</a>  concludes that the propensity and
      severity of fires and explosions from the accidental ignition of flammable electrolytic solvents
      used in Li-ion battery systems are anticipated to be somewhat comparable to or perhaps slightly
      less than those for gasoline or diesel vehicular fuels.
    </p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">The power grid won't be able to handle the additional load</h4>
    <p mat-line>The nation can add millions of electric cars to the grid without having to build any new power plants according to a report conducted by Navigant Research. Most electric vehicle charging is at night during off-peak hours when power demand is the lowest.</p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">More EVs will just lead to more coal power plants</h4>
    <p mat-line>The increased sales in EVs is driving down the cost of grid scale batteries which are enabling grid scale solar and wind based energy that is more cost effective than either coal or natural gas.</p>

  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">There is not much choice</h4>
    <p mat-line>
      Audi,      BMW,      Chevrolet,      Hyundai ,      Jaguar,      Kia,      Nissan,      Porsche ,      Renault,      Tesla,      Volkswagen all have BEV models out now and next year Ford, Mercedes, and Volvo will join the ranks. 
    </p>

  </mat-list-item>
  <mat-list-item>
    <h4 mat-line class="Heading">You can't take an EV though a car wash</h4>
    <p mat-line>You can take an EV though a car wash since all of the high-voltage components are sealed and waterproof.</p>

  </mat-list-item>


</mat-list>
