<p></p>
<br/>
<br />

<h1 class="Heading">Benefits of Battery Electric Vehicles </h1>

<mat-list>
  <mat-list-item>
    <h4 mat-line class="Heading">Cheaper to Drive</h4>
    
    <p mat-line>Electrons are about five times cheaper than gasoline!</p>
  </mat-list-item>

  <mat-list-item>
    <h4 mat-line class="Heading">More Fun</h4>
    <p mat-line> Instant torque provides unbeatable acceleration</p>
  </mat-list-item>

  <mat-list-item>
    <h4  mat-line class="Heading">More Convenient</h4>
    <p  mat-line> Plug your car in at home instead of driving to a gas station and pumping gas</p>
  </mat-list-item>

  <mat-list-item>
    <h4  mat-line class="Heading">Cleaner</h4>
    <p  mat-line> No tailpipe emissions and much less brake dust</p>
  </mat-list-item>


  <mat-list-item>
    <h4  mat-line class="Heading">Safer</h4>
    <p  mat-line> Electric cars typically have a lower center of gravity and more evenly distributed weight which makes winter driving safer. They and have larger crumple zones and don't catch fire as often. </p>
  </mat-list-item>


  <mat-list-item>
    <h4  mat-line class="Heading">Quieter</h4>
    <p  mat-line> Internal Combustion cars are typically twice as loud as an electric</p>
  </mat-list-item>


  <mat-list-item>
    <h4  mat-line class="Heading">More Perks</h4>
    <p  mat-line>Tax Credits, free charging, prime parking locations</p>

  </mat-list-item>
</mat-list>
