@page "/fetchdata"
@inject HttpClient Http
@inject CCWebSite.Controllers.BEVController controller;
@using CCWebSite.Controllers;
@using System.Linq;
 
<h1>EV Specs</h1>

@if (evSpecs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Model</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var spec in evSpecs)
            {
                <tr>
                    
                    <td>@spec.Manufacturer</td>
                    <td>@spec.Model</td>
                   
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private EVSpecs[] evSpecs;

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");

        evSpecs = (await controller.EVSpecs()).ToArray();
       
    }

   
}
