<MediaQuery Media="@Breakpoints.XSmallDown" @bind-Matches="isSmallDisplay" />

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@(isSmallDisplay ? "Charge & Change":"")</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                @if (context?.User?.Identity?.Name == "Bud Cribar")
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="bevdata">
                            <span class="oi oi-data-transfer-download" aria-hidden="true"></span> BEV Data
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="contacts">
                            <span class="oi oi-people" aria-hidden="true"></span> Contacts
                        </NavLink>
                    </li>
                }


            </Authorized>
        </AuthorizeView>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="charts">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Charts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="oi oi-eye" aria-hidden="true"></span> Search
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="donate">
                <span class="oi oi-dollar" aria-hidden="true"></span> Donate
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.facebook.com/Charge-and-Change-Nonprofit-109896113740296/">
                <span class="oi" aria-hidden="true">
                    <img src="assets/images/facebook.png" style="height:24px;margin-left:-6px" />
                </span> Facebook
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.linkedin.com/company/28847330/">
                <span class="oi" aria-hidden="true">
                    <img src="assets/images/linkedin.png" style="height:24px;margin-left:-6px" />
                </span> LinkedIn
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool isSmallDisplay;
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
