<div *ngIf="globals.showNewsletterSignup; else showHeading" novalidate>
  <h1 class="Heading">
    Charge and Change Newsletter
  </h1>
  <h2 class="Subheading">
    Sign up to get the latest news delivered straight to your inbox.

  </h2>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
    <mat-form-field>
      <input matInput type="email"
             placeholder="Email"
             formControlName="email">
      <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
        {{ getErrorEmail() }}
      </mat-error>
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>
  </div>



<ng-template #showHeading>
  <h1 class="Heading">
    Welcome to the Charge and Change Nonprofit!
  </h1>
</ng-template>

  <!--
    <app-contact-component></app-contact-component>
      <app-bev-component></app-bev-component>
      <app-bev-chart-component></app-bev-chart-component>
      <app-signin-component></app-signin-component>
      <app-benefits-component></app-benefits-component>
      <app-myths-component></app-myths-component>
  -->

  <app-benefits-component></app-benefits-component>
